html {
    scroll-behavior: smooth;
}
#container{
    min-width: 360px;
    max-width: 1920px;
    
}
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-container {
    display: flexbox;
    align-items: left;
    background-color: black;
    padding: 10px 20px;
    color: white;
}

.header-item {
    flex: 1;
}

.logo {
    float:left;
    font-size: x-large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu {
    flex: 2;
    text-align: right;
}

.nav-list ul{
    display: flex;
    list-style:none;
    margin:0;
    padding:0;
}

.nav-list li {
    display:flex;
    margin-right: 10px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: darkslategray;
}

.menu {
    flex: 2;
    text-align: right;
}

.nav-list {
    display: inline-block;
}

.nav-list li {
    display: inline;
    margin: 0 10px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: darkslategray;
}

.section {
    padding: 100px 20px;
    margin-top: 50px;
    height: 100vh;
    background-color: white;
    border-bottom: 1px solid white;
}

main {
    padding: 20px;
}
.h2 {
    font-size:xx-large;
}

.mission-statement {
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightslategray
}

.social-links {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-links img {
    width: 20px;
    margin: 0 5px;
}

.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-button img {
    width: 24px;
    height: 24px;
    display: block;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  img{
    width: 535px;
  }
  .skills-list{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:x-large;
  }
  .about-me{
    font-size: x-large;
  }
  .myresume{
    font-size: x-large;
    color: white;
    text-decoration: none;
    background-color: darkslategray;
    color: white;
    padding: 10px 15px;

  }

.contact {
    font-size: medium;
    color: white;
    background-color: darkslategray;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    height: 15px;
    width: 40px;
    border: 1px;
    justify-content: center;
    text-decoration: none;
    
}
.contact:hover {
    background-color: indigo;
}
@media (min-width:768px){
    #container{
    max-width: 1920px;
    margin: 0 auto;
    background-color: lightslategrey;
    flex: auto;
    text-align: center;
    }
    .about-me{
        float:none;
    }
}